html {
    background-image: url("../images/bats.gif");
}

body {
    font-family: sans-serif;
    width: 750px;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    box-shadow: 0px 1px 7px 7px rgb(0 0 0 /84%);
}

header {
    background: linear-gradient(45deg, white, #fea604, black);
    padding: 10px;
    border-bottom: 3px solid black;
    padding-top: 5px;
}

header img {
    max-width: 100px;
    margin-right: 20px;
    float: left;
    margin-top: 5px;
}

header h1 {
    margin-top: 0%;
    color: black;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
    font-size: 2.5em;
    margin-left: 10px;
    margin-bottom: 5px;
}

header h2 {
    margin: 0;
}

nav {
    background-color: black;
    overflow: hidden;
    width: 750px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0px 10px 0px 20px;
}

nav a:hover {
    background-color: gray;
}

nav a.action {
    color: #fea604;
}


main {
    padding-left: 20px;
    padding-right: 20px;
}

main p {
    font-family: Arial, Verdana, sans-serif;
}

main h2::first-letter {
    font-size: 3em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.4em;
    margin-bottom: 0;
}

.guarantee {
    margin-bottom: 20px;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
}

aside ul li {
    background-color: #fea604;
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

aside ul li a {
    text-decoration: none;
    color: black;
}


aside {
    width: 25%;
    /* Adjust the width of the sidebar */
    padding: 10px;
}

section {
    width: 75%;
    /* Main content takes up the rest */
    padding: 10px;
}

section h2 {
    margin-top: 5px;
}

section h4 {
    margin-top: 10px;
}

section a {
    color: #fea604;
    font-weight: bold;
}




footer {
    padding: 20px;
    border-top: 4px solid black;
    text-align: center;
    background: linear-gradient(45deg, black, orange 60%, white);
}

@media screen and (max-width: 800px) {

    html {
        background-image: none;
    }

    body {
        border: none;
        font-size: 0.5em;
    }

    header img {
        max-width: 6%;
    }
}


@media (max-width: 479px) {
    header h1 {
        font-size: 1.5em;
    }

    header h2 {
        font-size: 1em;
    }

    section h2:first-of-type {
        font-size: 1.2em;
    }
}